.create_dish{
    margin-top: 10%;
   h1{ text-align: center;}
}
.update_dish{
    margin-top: 10%;
    text-align: center;
}
.delete_dish{
    margin-top: 10%;
    text-align: center;
}
.view_dish{
    margin-top: 10%;
   h1{ text-align: center;}
}
.upd_one{
    margin-top: 10%;
}
.booking_pack{
    margin-top: 10%;
    text-align: center;
}
.feedback,.histories{
    margin-top: 10%;
    text-align: center;
}
.package-details{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    margin:40px;
    padding: 20px;

}
.input_box{
    width:80%;
    height:30px;
    border:2px solid aquamarine;
    border-radius: 2px;
    color:rgb(30, 8, 57);
    font-size: medium;
    
}
.form-group{
    margin-left: 10%;
    width:70%;
}
.add_btn{
    width:5%;
    border:2px solid rgb(114, 9, 170);
    border-radius: 2px;
    color:aquamarine;
    font-weight: 700;
    background-color: rgb(218, 178, 255);
    font-size: 16px;
}
.upload_box{
    height:30px;
}
.package_submit{
    height: 40px;
    background-color:rgb(35, 17, 193);
    color: white;
    font-size: 14px;
    border-width: 3px;
   text-align: center;
   width:200px;
   margin-left:60px;
   margin-bottom: 30px;

}

.feedback-list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.feedback-item{
    margin-top: 10%;
    top:50%;
    left:50%;
    position: relative;
    transform: translate(-50%,-50%);
    padding-top: 30px;
    width: 50%;
    padding-bottom: 30px;
    text-align: left;
    margin-bottom: 20px;;
    padding-left: 70px;
    border-radius: 2px solid aquamarine;
    box-shadow: 10px 12px 16px 17px rgba(111, 110, 110, 0.717);
}
.table-list{
    display: grid;
   grid-template-columns: auto auto;
    justify-content: space-around;
 
  }
  .table-item{
    width:500px;
    min-height:200px;
    margin-top: 10%;
    top:50%;
    left:50%;
    position: relative;
    transform: translate(-50%,-50%);
    padding-top: 30px;
   
    padding-bottom: 30px;
    text-align: left;
    margin-bottom: 20px;;
    padding-left: 70px;
    border-radius: 2px solid rgb(53, 244, 180);
    box-shadow: 10px 12px 16px 17px rgba(111, 110, 110, 0.717);
}
.hist-title{
    padding: 100px;;
}
.reports-item {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width:70%;
    box-shadow: 1px 12px 15px 15px rgba(111, 110, 110, 0.717);
    margin-bottom: 50px;
    top:50%;
    left:50%;
    position: relative;
    transform: translate(-50%,-50%);
  }
  
  .reports-first, .reports-last {
    flex-basis: 45%;
    text-align: left;
    padding-left: 20px;
  }
  
  .orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .orders-table th, .orders-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .orders-table th {
    background-color: #f2f2f2;
  }
  

  .orders-table tbody tr:hover {
    background-color: #ddd;
  }
  
.search-button{
 display: grid;
 margin-top: 3%;
 grid-template-columns: auto auto auto;
 justify-content: space-evenly;
}
.search-input{
  height:30px;
  width:400px;
  border-radius: 4px ;
  border-color: aquamarine;
  color: black;
}