
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    bottom:0;
    background-color: rgba(248, 247, 249, 0.89);
}

.signup-container{
    display : flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 3px 4px 5px rgba(157, 156, 156, 0.806); 
    width:50%;
    height:370px;
    position: relative;
    margin-top: 25%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.signup-title{
    font-weight: 800;
    text-shadow: 2px 2px rgb(141, 134, 134);
    font-size: 18px;
    color: #e0e0e0;
    height: 30px;
}
.form-control{
    width: max-content;
    height:30px;
    background-color: rgba(254, 253, 253, 0.07);
    color: aliceblue;
    font-size: medium;
    border-radius: 7px;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}
::placeholder{
    color: #e0e0e0;
}
.forgot-password{
    color: #fbfbfc;
    text-decoration: none;
}

.signup-img{
    flex: 1;
    width:100%;
    height:100%;
    text-align: center;
    justify-content: center;
  background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  color: white;
}

.form-signup{
    flex:2;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    
width:100%;
height:100%;
text-align: center;
justify-content: center;
}
.signup-btn{
    margin-top: 20px;
    border:2px solid white;
    background-color: transparent;
    color:white;
    font-weight: 300px;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    padding: 7px;
    width:100px;
    height:30px;
}
.signin-btn{
    margin-top: 20px;
    border:2px solid white;
    background-color: transparent;
    text-align: center;
    color:white;
    font-weight: 300px;
    font-size: 14px;
    border-radius: 15px;
    padding: 7px;
    width:100px;
    height:30px;

}
.forgot-password{
    color: white;
    font-size: 16px;
}
.error-messages {
    margin-top: 10px;
    color: red;
  }
  
  .error-message {
    margin-bottom: 5px;
  }
  